@font-face {
  font-family: 'icons';
  src:  url('../iconsfont/icons.eot?srrwxq');
  src:  url('../iconsfont/icons.eot?srrwxq#iefix') format('embedded-opentype'),
    url('../iconsfont/icons.ttf?srrwxq') format('truetype'),
    url('../iconsfont/icons.woff?srrwxq') format('woff'),
    url('../iconsfont/icons.svg?srrwxq#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*="icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-favourite:before {
  content: "\e900";
}
.icon-right-arrow:before {
  content: "\e901";
}
.icon-shopping-cart:before {
  content: "\e902";
}
