*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.title {
  font-size: toRem(44);
  font-weight: 700;
  line-height: 1.26;
  color: #000;
}
.title span {
  color: 4;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-block-size: 100%;
  overflow: clip;
  font-family: "Rubik", sans-serif;
  line-height: 1.385;
  font-size: 0.875rem;
  color: #616161;
}

[class*=__container] {
  max-inline-size: 1090px;
  margin-inline: auto;
  padding-inline: 15px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}