@use "_reset.scss";
@use "_common.scss";
@use "_mixins.scss" as *;
@use "_extends.scss" as *;

// %button {
// 	padding: 5px 20px;
// 	font-size: 20px;
// 	background-color: green;
// }

// .page__button {
// 	@extend %button;
// 	border: 1px solid #000;
// 	background-color: #fff;
// }


// .adaptive-text {
// 	@include adaptiveValue("font-size", 55, 20, 0, 800, 400)
// 	@include adaptiveValue("padding-top", 50, 10);
// }


// -----------------------------
// -----------------------------

$mainColor: #616161;
$accentRed: #EC5863;
$accentBlue: #4285F4;

body{
   font-family: "Rubik", sans-serif;
   line-height: 1.385;
   font-size: toRem(12);
   color: $mainColor;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-block-size: 100%;
   overflow: clip;
}

[class*="__container"] {
    max-inline-size: 1087px;
    margin-inline: auto;
    padding-inline: 15px;
 }

 .page {
    flex-grow: 1;
 }


